<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="lb.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <body>
        <h3>
            <div class="faq">
            <a href ="faq.html">Frequently Asked Questions </a>
            </div>
            <div class="homepage">
                <a href ="login.html">Homepage</a>
            </div>
            <div class="download">
                <a href="download.html">Download</a>
            </div>
        </h3>
        </body>
</head>
<body>
     <p> </p>
</body>
</html>